*.iml
.gradle
.idea
build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
gradle
gradle.properties
gradlew
gradlew.bat
.DS_Store
/captures
.externalNativeBuild
.cxx
